# Python
__pycache__/
*.pyc

# Virtual Environment
aimlenv/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
*.db

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# DVC tracked raw datasets
data/raw/

# Generated feature datasets
data/features/

# DVC cache
.dvc/cache/

# Environment variables
.env
/models
/configs
